<div class="container">
    <div class="btn-group btn-group-toggle mt-4" data-toggle="buttons">
        <label class="btn btn-secondary" [ngClass]="{'active': container === 'unread'}">
            <input 
                [(ngModel)]='container' 
                value="unread" 
                (ngModelChange)="loadMessages()" 
                type="radio" 
                name="options"
                id="option1" 
                autocomplete="off" 
                checked>
            <i class="fa fa-envelope"></i>
            Unread
        </label>
        <label class="btn btn-secondary" [ngClass]="{'active': container === 'inbox'}">
            <input 
                [(ngModel)]='container' 
                value="inbox" 
                (ngModelChange)="loadMessages()" 
                type="radio" 
                name="options"
                id="option2" 
                autocomplete="off">
            <i class="fa fa-envelope-open"></i>
            Inpox
        </label>
        <label class="btn btn-secondary" [ngClass]="{'active': container === 'outbox'}">
            <input 
                [(ngModel)]='container' 
                value="outbox" (ngModelChange)="loadMessages()" 
                type="radio" 
                name="options"
                id="option2" 
                autocomplete="off">
            <i class="fa fa-paper-plane"></i>
            Outbox
        </label>
    </div>

    <div class="row" *ngIf="messages?.length === 0">
        <h3>No Messages</h3>
    </div>

    <div class="row" *ngIf="messages?.length > 0">
        <table class="table table-hover" style="cursor:pointer">
        <tr>
            <th style="width: 40%;">Messages</th>
            <th style="width: 20%;">From/To</th>
            <th style="width: 40%;">Sent / Recieved</th>
            <th style="width: 20%;"></th>
        </tr>
        <tr *ngFor="let messg of messages"  
            routerLink = "{{container === 'outbox' ?
            '/members/' + messg.recipientUsername : 
            '/members/' + messg.senderUsername}}"
            [queryParams]="{tab:3}">
            <td>
                {{messg.content}}
            </td>
            <td>
                <div *ngIf = "container === 'outbox'">
                    <img class="img-circle rounded-circle mr-2"
                        src="{{messg.recipientPhotoUrl}}" 
                        alt="'Photo'" 
                        style="max-height: 50px;">
                    <strong>{{messg.recipientUsername | titlecase}}</strong>
                </div>
            </td>
            <td>{{messg.messageSent | amTimeAgo}}</td>
            <td>
                <button class="btn btn-danger" (click)="$event.stopPropagation()" (click)="deleteMessage(messg.id)">Delete</button>
            </td>
        </tr>
        </table>
    </div>
</div>